corpus.txt
tokenizer.json
tiny_llm.pth
*.pth
*.onnx
*.onnx.data

__pycache__/
*.egg-info/
*.egg
build/
dist/
.pytest_cache/
.ruff_cache/

.firebase

# C compiled binary executables
c/run
c/runq
c/run_cu
c/train
c/train_cu
c/run_bitnet
c/run_bitnet_cu
c/run_metal
c/run_metal_bitnet
c/train_metal
*.bin